pandas
watchdog
requests
pillow
passlib
matplotlib
numpy
openai
tiktoken
transformers
llama-index
chromadb
pyautogui
pyglossary
lxml


alibabacloud-oss-v2
fastapi
uvicorn
python-multipart
jinja2
rarfile
tqdm
python-pptx
patool
OdooRPC
user-agents
